---
import '../../styles/global.css';
import Layout from '../../components/Layout.astro';
import Confetti from '../../components/Confetti.tsx';
---
<Layout>
  <h1>you win</h1>
  <p>you are now metric god</p>
  <Confetti client:load />
</Layout>
